!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AwesomeEvents
    = render '/shared/head'

  %body
    = render '/shared/header'
    .container
      = render '/shared/flash'
      = yield
    .bg-info.p-2
      = debug(params) if Rails.env.development?
